.movie {
  max-width: 80%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  border-bottom: 1px solid rgb(250,250,250);
  margin: 30px auto 0;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .movie-detail {
    padding-left: 20px;

    h2 { font-size: 1.5rem; }
    h3 { margin: 8px 0 0 5px;}
  }
}